# fly.toml app configuration file generated for web-iylaug on 2026-02-14T13:26:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'web-iylaug'
primary_region = 'ams'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[processes]
  app = "./start.sh"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
